.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo name nav"
    "intro intro intro"
    "project1 project1 project1intro"
    "project2intro project2 project2"
    "project3 project3 project3intro"
    "footer footer footer";
}
.logo {
    grid-area: logo;
    margin: 16px;
}
.name {
    grid-area: name;
    margin: 16px;
}
.nav {
    grid-area: nav;
    margin: 16px;
}
.intro {
    grid-area: intro;
    margin: 16px;
}
.project1 {
    grid-area: project1;
    margin-left: 16px;
}
.project1intro {
    grid-area: project1intro;
}
.project2 {
    grid-area: project2;
    margin-right: 16px;
}
.project2intro {
    grid-area: project2intro;
}
.project3 { 
    grid-area: project3;
}
.project3intro {
    grid-area: project3intro;
}
.footer {
    grid-area: footer;
    margin: 16px;
    justify-content: space-around;
    align-items: center;
}