/* Nav Styles */
.nav {
    width: 100%;
    height:min-content;
    display: flex;
    align-items: center;
    font-size: larger;
}
.icon {
    display: flex;
    width: 85%;
    margin-left: 3%;
}
.navigation {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-right: 3%;
}
.navigation ul {
    font-size: larger;
    font-family: 'Antic Didone', serif;
    padding: 16px;
}
/* Column Styles */
.column {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 800px;
    margin-top: 100px;
    margin-left: 3%;
}
.intro {
    height: 75%;
    width: 100%;
    display: flex;
    align-items:flex-start;
}
.project1, .project2, .project3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.project1 {
    margin-left: 150px;
    margin-top: 50px;
    background-image: url(../images/Project\ 1\ Picture.png);
}
.project2 {
    background-image: url(../images/Project\ 1\ Picture.png);
    margin-top: 50px;
}
.project3 {
    margin-top: 50px;
    margin-left: 150px;
    background-image: url(../images/Project\ 1\ Picture.png);
}
.text {
    margin-left: 10px;
}
h1 {
    font-family: 'Antic Didone', serif;
}
h3 {
    font-family: 'Antic Didone' serif;
    font-size: small;
}
p {
}
/* Footer Styles */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 50px;
}